@using Blogio.ViewModels
@using Blogio.Models
@model PostViewModel

<div class="col-12 pt-4 pb-4">
    <div class="card">
        <div class="card-body">
            <h3>@Model.Title</h3>
            
            <img src="@Model.Picture" class="p-4" alt="Sample Image" style="border-radius: 0; max-height: 50vh; float: left">

            <p class="pt-4">@Model.Text</p>
        </div>
        <div class="card-footer pt-3 pb-0">
            <div class="row">
                <div class="col-6">
                    <form method="post">
                        <input type="hidden" asp-for="@Model.PostId">
                        <input type="hidden" asp-for="@Model.Rating">                                  
                        <div style="display: inline-block;">
                            <p style="float: left;">Rating:&nbsp;&nbsp;&nbsp;</p>
                            @for(int i = 1; i <= 5; i++)
                            {
                                if(Model.Rating == i)
                                {
                                    <input type="radio" asp-for="@Model.NewRating" value="@i" checked="checked">
                                }
                                else
                                {
                                    <input type="radio" asp-for="@Model.NewRating" value="@i">
                                }
                                
                            }&nbsp;&nbsp;
                            <button class="btn btn-sm btn-outline-warning" type="submit">Rate And Read Next Article</button>
                        </div>     
                    </form>
                </div>
                <div class="col-6">
                    <div class="d-flex flex-row-reverse">
                        <div style="padding-rigth: 4px;">
                            <p>Author: @Model.Author.NickName &nbsp;&nbsp;&nbsp; </p>
                        </div>
                        <div style="padding-rigth: 4px;">
                            <p>Posted: @Model.Date &nbsp;&nbsp;&nbsp; </p>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <div class="card mb-4">
            <div class="card-body">
                <div class="mb-3">
                    <form method="post">
                        <input type="hidden" asp-for="@Model.PostId">
                        <div class="form-group">
                            <textarea asp-for="@Model.NewComment.Text" class="form-control mt-1" rows="4" placeholder="Leave your comment here"></textarea>
                        </div>
                        <button class="btn btn-outline-warning mt-3" type="submit">Submit</button>
                    </form>
                </div>
                @if(Model.Comments.Count() > 0){
                    <h4>Comments</h4>
                }
                <div class="mt-2">
                    @foreach (var comment in Model.Comments ?? new List<Comment>())
                    {
                        <div class="card m-3">
                            <div class="card-body">
                                <div style="display: inline-block;">                                    
                                    <p><b>@(string.Concat(comment.UserName.TakeWhile(s => s != '@'))): </b> @comment.Text</p>
                                </div>
                            </div>
                            <div class="card-footer pb-0">
                                <div style="float: left;">
                                    @if(User.Identity.Name == comment.UserName)
                                    {
                                        <form method="post" asp-action="DeleteComment">
                                            <input type="hidden" asp-for="@comment.CommentId">
                                            <button class="btn btn-sm btn-outline-danger" type="submit" 
                                                asp-action="DeleteComment" asp-route-id="@comment.CommentId">Delete</button>
                                        </form>
                                    }   
                                </div>                             
                                <p style="float: right;">@comment.Date</p>
                            </div>
                        </div>
                    }      
                </div>          
            </div>
        </div>
    </div>
</div>